.banner {
    width: auto;
    height: 600px;
    background: url(./image/img.jpg), rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 40px 210px;
}

.banner>h1 {
    color: #FFF;
    font-size: 96px;
    font-weight: 700;
}

@media screen and (max-width: 1000px) {

    .banner {
        height: 400px;
        display: grid;
        justify-items: center;
    }

    .banner > button{
        height: fit-content;
    }

    .banner>h1 {
        font-size: 50px;
        text-align: center;
    }
    
}