.itemCount {
    display: flex;
    height: 30px;
    align-items: center;
}

.itemCount>button {
    display: flex;
    width: 58px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    border: 1px solid #DDD;
    background: none;
}

.itemCount>button:hover {
    background: #DDD;
}

.itemCount>p {
    display: flex;
    width: 96px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

@media screen and (max-width: 600px) {
    .itemCount{
        margin-bottom: 30px;
    }
}