.itemCount {
    display: flex;
    height: 30px;
    align-items: center;
}

.itemCount>button {
    display: flex;
    width: 58px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    border: 2px solid #DDD;
    background: none;

    font-size: 20px;
    color: #8B8B8B;
}

.itemCount>button:hover {
    background: #DDD;
}

.itemCount>.countValue {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    width: 96px;
    height: 54px;
    margin: -5px;

    border-top: 2px solid #DDD;
    border-bottom: 2px solid #DDD;

    font-size: 20px;
    font-weight: 600;
    
}

@media screen and (max-width: 600px) {
    .itemCount{
        margin-bottom: 30px;
    }
}