.sales {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    gap: 32px;
}

.main > h1{
    font-size: 64px;
}

@media screen and (max-width: 1400px) {
    .main{
        text-align: center;
    }

    .main > h1{
        font-size: 40px;
    }

    .sales {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        gap: 70px;
        flex-wrap: wrap;
    }
}