@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 1);
    color: rgba(40, 40, 40, 1);

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 500;

    text-decoration: line-through;
    color: rgba(139, 139, 139, 1);
}

.section {
    max-width: 1500px;
    margin: 15px auto;
}

.section>h1 {
    font-size: 64px;
    font-weight: 700;
}

.productsList {
    /* display: grid;
    grid-template-columns: repeat(5, calc(50% - 12px));
    gap: 32px; */

    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    align-content: flex-start;
    gap: 32px;
    flex-wrap: wrap;
}

.errorPage {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;

    margin: 80px 0;
}

.errorPage>h1 {
    font-size: 64px;
    font-weight: 700;
    margin: 32px 0 16px;
}

.errorPage>p {
    color: #8B8B8B;
    font-size: 20px;
    font-weight: 500;
}

.errorSign {
    display: flex;
    align-items: center;
    gap: 16px;
}



.form {
    display: flex;
    height: 36px;
    align-items: center;
    gap: 40px;
    margin: 40px 0;
}

.form>form {
    display: flex;
    align-items: center;
    gap: 16px;
}

label {
    display: flex;
    align-items: center;
    gap: 16px;
}

label>input {
    width: 36px;
    height: 36px;
}

.select {
    display: flex;
    width: 200px;
    padding: 8px 8px 8px 16px;
    align-items: center;
    gap: 8px;

    border-radius: 6px;
    border: 1px solid #DDD;
    background: none;
}

.inputForm {
    display: flex;
    width: 112px;
    padding: 8px 16px;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    border: 1px solid #DDD;

    color: black;

    font-size: 16px;

    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}