@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 1);
    color: rgba(40, 40, 40, 1);

    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    font-weight: 500;

    text-decoration: line-through;
    color: rgba(139, 139, 139, 1);
}

.cart {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    margin: -5px;
    padding: 10px;
    font-size: 15px;

    width: 10px;
    height: 10px;
    border-radius: 100%;

    background: #393;
    color: white;
}

.textAndBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textAndBtn>h1 {
    font-size: 60px;
    font-weight: 700;
}

.section {
    max-width: 1500px;
    margin: 15px auto;
}

.section>h1 {
    font-size: 60px;
    font-weight: 700;
}

/* line for text in HomePage and BasketPage */
.line {
    border-top: 2px solid black;
    align-self: center;
    flex-grow: 1;
    border-color: #DDD;
    margin-left: 32px;
}

@media screen and (max-width: 1000px) {
    .emptyBasket {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 20px;
        font-weight: 700;
    }

    .section>h1,
    .textAndBtn>h1 {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }

    .textAndBtn {
        display: contents;
    }

    .textAndBtn>a {
        display: none;
    }

    .line {
        display: none;
    }
    

}

/* данная стилизация убирает стрелочки с input типа number */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* для меню */

.menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 150px;
    left: 0;
    transform: translateY(100%);
    transition: all 0.2s;
    z-index: 1;
}

.menu.active {
    transform: translateY(0);
}

/* basket */

.basketInfo {
    display: flex;
    justify-content: space-between;
}

/* for btn_banner */

.dicountForm {
    padding: 16px 32px;
    width: 452px;

    outline: none;

    background: none;

    border: 1px solid #FFF;
    border-radius: 6px;

    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

    color: rgba(255, 255, 255, 1);
}

.orderForm {
    padding: 16px 32px;
    width: 452px;

    outline: none;

    background: none;

    border: 1px solid #DDD;
    border-radius: 6px;

    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

    background: #FFF;
    color: #8B8B8B;
}

.discountBtn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;

    width: 516px;
    padding: 16px 32px;

    color: #282828;
    background: #FFF;

    border-radius: 6px;
    border: none;

    cursor: pointer;

    transition: 0.3s;
}

.orderBtn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;

    width: 516px;
    padding: 16px 32px;

    color: #FFF;
    background: #393;

    border-radius: 6px;
    border: none;

    cursor: pointer;

    transition: 0.3s;
}

.discountBtn:hover,
.orderBtn:hover {
    color: #FFF;
    background: #282828;
}

.discountBtn:active{
    color: #393;
    background: white;
    border: none;
}

.orderBtn:active {
    color: #282828;
    background: #FFF;
    border: 2px solid #282828;
}

.discountBtn:disabled {
    color: #393;
    border: none;
    background: #FFF;
    cursor: no-drop;
}